@page
@model RazorPizzeria.Pages.Checkout.ThankYouModel
@{
    ViewData["Title"] = "Thank you";
}

<h2>Thank you for patronizing us!</h2>
<p>Your order was successfull be delivered you within 1 hour.</p>