@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <div class="mainText">
        <h1 class="display-4 text-black text-capitalize">Welcome to Razor Sharp Pizza</h1>
        <h2 class="mainSubTitle">Razor Sharp Pizza, is the pizza, for you and me</h2>
    </div>
    <p>
        <img class="mainImage" src="~/images/PizzaTime.jpg" alt="Pizza time" />
    </p>
    <p class="text-center">
        <a class="btn btn-primary mt-1" asp-page="Checkout/ThankYou">BRING ME THAT PIZZA</a>

    </p>
</div>
